<a routerLink="/">
  <div class="side-nav bg-image-holder">
    <fa-icon [icon]="faTimes" class="close-icon"></fa-icon>
    <h2 class="head-title">Services</h2>
  </div>
</a>
<div class="content-container">
  <div class="title-page">
    <h2>Our Best <b class="emp-text">Services</b></h2>
    <img src="./../../../assets/images/dvider.png" alt="" />
  </div>
  <div class="about-service-text-box">
    <p>
      <span class="title-special">DevA2Z</span> provides services in every
      domain of the technology sphere whether it be related to web, app, ai,
      research or market solutions.
    </p>
  </div>
  <div class="our-tools">
    <div class="head-box">
      <h3>Our Technologies</h3>
      <h5>Provide awesome services with our tools</h5>
    </div>
    <div class="row">
      <div class="col-md-3">
        <div class="leader-box">
          <div class="head">
            <h4>Frontend</h4>
          </div>
          <div class="body">
            <div class="card-box">
              <div class="img-box">
                <img src="../../../assets/images/flutter.png" alt="flutter" />
              </div>
              <div class="text-box">
                <h4>Flutter</h4>
              </div>
            </div>
          </div>
          <div class="body">
            <div class="card-box">
              <div class="img-box">
                <img src="../../../assets/images/reactjs.jpg" alt="reactjs" />
              </div>
              <div class="text-box">
                <h4>ReactJS</h4>
              </div>
            </div>
          </div>
          <div class="body">
            <div class="card-box">
              <div class="img-box">
                <img src="../../../assets/images/angular.png" alt="angular" />
              </div>
              <div class="text-box">
                <h4>AngularJS</h4>
              </div>
            </div>
          </div>
          <div class="body">
            <div class="card-box">
              <div class="img-box">
                <img src="../../../assets/images/html5.png" alt="html5" />
              </div>
              <div class="text-box">
                <h4>HTML5, CSS, Bootstrap</h4>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="leader-box">
          <div class="head">
            <h4>Backend</h4>
          </div>
          <div class="body">
            <div class="card-box">
              <div class="img-box">
                <img src="../../../assets/images/python.png" alt="python" />
              </div>
              <div class="text-box">
                <h4>Python</h4>
              </div>
            </div>
          </div>
          <div class="body">
            <div class="card-box">
              <div class="img-box">
                <img
                  src="../../../assets/images/nodejs-development-services.png"
                  alt="nodejs"
                />
              </div>
              <div class="text-box">
                <h4>NodeJS</h4>
              </div>
            </div>
          </div>
          <div class="body">
            <div class="card-box">
              <div class="img-box">
                <img src="../../../assets/images/php.png" alt="php" />
              </div>
              <div class="text-box">
                <h4>PHP</h4>
              </div>
            </div>
          </div>
          <div class="body">
            <div class="card-box">
              <div class="img-box">
                <img src="../../../assets/images/java.png" alt="java" />
              </div>
              <div class="text-box">
                <h4>Java</h4>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="leader-box">
          <div class="head">
            <h4>Database</h4>
          </div>
          <div class="body">
            <div class="card-box">
              <div class="img-box">
                <img src="../../../assets/images/firebase.png" alt="firebase" />
              </div>
              <div class="text-box">
                <h4>Firebase</h4>
              </div>
            </div>
          </div>
          <div class="body">
            <div class="card-box">
              <div class="img-box">
                <img src="../../../assets/images/mongo.jpg" alt="mongo" />
              </div>
              <div class="text-box">
                <h4>MongoDB</h4>
              </div>
            </div>
          </div>
          <div class="body">
            <div class="card-box">
              <div class="img-box">
                <img src="../../../assets/images/postgre.jpg" alt="postgre" />
              </div>
              <div class="text-box">
                <h4>PostgreSQL</h4>
              </div>
            </div>
          </div>
          <div class="body">
            <div class="card-box">
              <div class="img-box">
                <img
                  src="../../../assets/images/mysql-logo-png-transparent.png"
                  alt="mysql"
                />
              </div>
              <div class="text-box">
                <h4>MySQL</h4>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="leader-box">
          <div class="head">
            <h4>Cloud</h4>
          </div>
          <div class="body">
            <div class="card-box">
              <div class="img-box">
                <img src="../../../assets/images/aws.png" alt="aws" />
              </div>
              <div class="text-box">
                <h4>AWS</h4>
              </div>
            </div>
          </div>
          <div class="body">
            <div class="card-box">
              <div class="img-box">
                <img src="../../../assets/images/azure-logo.png" alt="azure" />
              </div>
              <div class="text-box">
                <h4>Azure</h4>
              </div>
            </div>
          </div>
          <div class="body">
            <div class="card-box">
              <div class="img-box">
                <img src="../../../assets/images/gcp.png" alt="gcp" />
              </div>
              <div class="text-box">
                <h4>GCP</h4>
              </div>
            </div>
          </div>
          <div class="body">
            <div class="card-box">
              <div class="img-box">
                <img src="../../../assets/images/heroku.png" alt="heroku" />
              </div>
              <div class="text-box">
                <h4>Heroku</h4>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="icons-list-center-box">
    <div class="row">
      <div class="col-sm-3">
        <div class="icon-box">
          <fa-icon class="fa-icon" [icon]="faWandMagicSparkles"></fa-icon>
          <h4>UI / UX design</h4>
        </div>
      </div>
      <div class="col-sm-3">
        <div class="icon-box">
          <fa-icon class="fa-icon" [icon]="faCode"></fa-icon>
          <h4>Web And Aplication Development</h4>
        </div>
      </div>
      <div class="col-sm-3">
        <div class="icon-box">
          <fa-icon class="fa-icon" [icon]="faCloudUpload"></fa-icon>
          <h4>Cloud Hosting</h4>
        </div>
      </div>
      <div class="col-sm-3">
        <div class="icon-box">
          <fa-icon class="fa-icon" [icon]="faMicrochip"></fa-icon>
          <h4>AI & ML</h4>
        </div>
      </div>
    </div>
  </div>
  <div class="services-container">
    <div class="head-box">
      <h3>Our Best Services</h3>
      <p>
        DevA2Z provides services in every domain of the technology sphere
        whether it be related to web, app, ai, research or market solutions.
      </p>
    </div>
    <div class="row">
      <div class="col-md-4">
        <div class="card-box-model">
          <div class="badge-span-box">
            <p>work</p>
          </div>
          <div class="image-div">
            <img src="./../../../assets/images/web.gif" alt="Photo of web" />
          </div>
          <div class="text-box">
            <div class="head-title-service">
              <h4 class="mt-3 mb-3">Website Development</h4>
            </div>
            <div class="text-container">
              <p>
                Our web development team, gets you the reliable solutions from
                designing to development with monthly, and yearly basis
                maintenance support.
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card-box-model">
          <div class="badge-span-box">
            <p>Business</p>
          </div>
          <div class="image-div">
            <img src="./../../../assets/images/app.gif" alt="Photo of App" />
          </div>
          <div class="text-box">
            <div class="head-title-service">
              <h4 class="card-title mt-3 mb-3">Mobile Applications</h4>
            </div>
            <div class="text-container">
              <p>
                Every products today's in demand of app. Our team wireframe the
                ideas, get it into code and deploy on your choice store.
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card-box-model">
          <div class="badge-span-box">
            <p>Hosting & Deployment</p>
          </div>
          <div class="image-div">
            <img src="./../../../assets/images/cs.gif" alt="Photo of CS" />
          </div>
          <div class="text-box">
            <div class="head-title-service">
              <h4 class="card-title mt-3 mb-3">Cloud Solutions</h4>
            </div>
            <div class="text-container">
              <p>
                We provide you the finest solutions to sites experiencing a
                sudden traffic increase, data storage shortage, sites being down
                by using the premier cloud services.
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card-box-model">
          <div class="badge-span-box">
            <p>Corporate</p>
          </div>
          <div class="image-div">
            <img src="./../../../assets/images/dg.gif" alt="Photo of CS" />
          </div>
          <div class="text-box">
            <div class="head-title-service">
              <h4 class="card-title mt-3 mb-3">Digital Marketing</h4>
            </div>
            <div class="text-container">
              <p>
                We provide you the finest solutions to sites experiencing a
                sudden traffic increase, data storage shortage, sites being down
                by using the premier cloud services.
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card-box-model">
          <div class="badge-span-box">
            <p>Services</p>
          </div>
          <div class="image-div">
            <img src="./../../../assets/images/mg.gif" alt="Photo of CS" />
          </div>
          <div class="text-box">
            <div class="head-title-service">
              <h4 class="card-title mt-3 mb-3">Marketing Services</h4>
            </div>
            <div class="text-container">
              <p>
                We provide you the finest solutions to sites experiencing a
                sudden traffic increase, data storage shortage, sites being down
                by using the premier cloud services.
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card-box-model">
          <div class="badge-span-box">
            <p>Research & Innovation</p>
          </div>
          <div class="image-div">
            <img src="./../../../assets/images/ml.gif" alt="Photo of CS" />
          </div>
          <div class="text-box">
            <div class="head-title-service">
              <h4 class="card-title mt-3 mb-3">Artificial Intelligence & ML</h4>
            </div>
            <div class="text-container">
              <p>
                We provide you the finest solutions to sites experiencing a
                sudden traffic increase, data storage shortage, sites being down
                by using the premier cloud services.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <ngx-scrolltop> ↑ </ngx-scrolltop>
</div>
<footer class="footer">
  <p>
    <small
      >@{{ currentYear }} DevA2Z. All rights reserved. Design by DevA2Z</small
    >
  </p>
</footer>
