<div class="row nav-grid-container ">
    <div class="col-6 col-sm-4 box-grid-container ">
        <a routerLink="/about-us">
            <div class="bg-holder aboutUs-container">
                <div class="text-wrapper">
                    <fa-icon class="faIcon" [icon]="faUsers"></fa-icon>
                    <h3>About Us</h3>
                </div>
            </div>
        </a>
    </div>
    <div class="col-6 col-sm-4 box-grid-container ">
        <a routerLink="/service">
            <div class="bg-holder service-container">
                <div class="text-wrapper">
                    <fa-icon class="faIcon" [icon]="faBriefcase"></fa-icon>
                    <h3>Service</h3>
                </div>
            </div>
        </a>
    </div>
    <div class="col-6 col-sm-4 box-grid-container ">
        <a routerLink="/team">
            <div class="bg-holder portfolio-container">
                <div class="text-wrapper">
                    <fa-icon class="faIcon" [icon]="faBookOpen"></fa-icon>
                    <h3>Our Team</h3>
                </div>
            </div>
        </a>
    </div>
    <div class="col-6 col-sm-4 box-grid-container ">
        <a routerLink="/feedback">
            <div class="bg-holder feedback-container">
                <div class="text-wrapper">
                    <fa-icon class="faIcon" [icon]="faImages"></fa-icon>
                    <h3>feedback</h3>
                </div>
            </div>
        </a>
    </div>
    <div class="col-6 col-sm-4 box-grid-container ">
        <a routerLink="/faq">
            <div class="bg-holder faq-container">
                <div class="text-wrapper">
                    <fa-icon class="faIcon" [icon]="faQuestion"></fa-icon>
                    <h3>FAQ</h3>
                </div>
            </div>
        </a>
    </div>
    <div class="col-6 col-sm-4 box-grid-container ">
        <a routerLink="/contact">
            <div class="bg-holder contact-container">
                <div class="text-wrapper">
                    <fa-icon class="faIcon" [icon]="faMap"></fa-icon>
                    <h3>Contact</h3>
                </div>
            </div>
        </a>
    </div>
</div>