<a routerLink="/">
  <div class="side-nav bg-image-holder">
    <fa-icon [icon]="faTimes" class="close-icon"></fa-icon>
    <h2 class="head-title">Feedback</h2>
  </div>
</a>
<div class="content-container">
  <div class="title-page my-3">
    <h2>What <span class="title-special">People</span> Say!</h2>
    <img src="./../../../assets/images/dvider.png" alt="" />
  </div>
  <div class="image-upwork-feedback">
    <div class="row">

      <div class="col-md-4" *ngFor="let feedback of feedbacks">
        <section class="mx-auto my-3 upwork-box" style="max-width: 23rem">
          <div class="card booking-card v-2 mt-2 mb-4 rounded-bottom">
            <div
              class="bg-image hover-overlay ripple ripple-surface ripple-surface-light"
              data-mdb-ripple-color="light"
            >
              <img
                src="./../../../assets/images/upwork.jpg"
                class="img-fluid"
              />
              <a href="#!">
                <div
                  class="mask"
                  style="background-color: rgba(251, 251, 251, 0.15)"
                ></div>
              </a>
            </div>
            <div class="card-body">
              <h5 class="card-title font-weight-bold">{{ feedback.title }}</h5>
              <ul class="list-unstyled list-inline mb-2">
                <li class="list-inline-item me-0" style="color: gold" *ngFor="let star of feedback.stars">
                  <fa-icon [icon]="faStar"></fa-icon>
                </li>
              </ul>
              <p class="card-text">
                {{ feedback.text }}
              </p>
              <small>{{ feedback.from }}</small>
            </div>
          </div>
        </section>
      </div>
    </div>
  </div>
  <ngx-scrolltop> ↑ </ngx-scrolltop>
</div>

<footer class="footer">
  <p><small>@{{ currentYear }} DevA2Z. All rights reserved. Design by DevA2Z</small></p>
</footer>
