<a routerLink="/">
  <div class="side-nav bg-image-holder">
    <fa-icon [icon]="faTimes" class="close-icon"></fa-icon>
    <h2 class="head-title">Our Team</h2>
    <!--  -->
  </div>
</a>
<div class="content-container">
  <div class="title-page">
    <h2>Know Us <span class="title-special">Better !</span></h2>
    <img src="./../../../assets/images/dvider.png" alt="" />
  </div>
  <!-- <div class="abou-leader">
        <div class="row">
            <div class="col-md-5 ">
                <div class="images-container">
                    <div class='box'>
                        <div class='wave -one'></div>
                        <div class='wave -two'></div>
                        <div class='wave -three'></div>
                    </div>
                    <div class="images-grid">
                        <img src="../../../assets/images/sayd-asad-kazemi.jpg" alt="">
                    </div>
                </div>
            </div>
            <div class="col-md-7 ">
                <div class="text-abou-leaders-container">
                    <h3>"The only way to do great work is to love what you do"</h3>
                    <p>Syed Asad Kazmi (or SAK, in short) is the <span class="special-text">Founder, President of
                            DevA2Z.</span> He is having expertise in
                        mobile application
                        development using Flutter and backend-related stuff using Python, covering almost all the
                        popular frameworks of Python.</p>
                    <p>He has been doing Freelancing for the past 2 years and having dozens of happy clients who are
                        satisfied with his work
                        quality and on-time project delivery.</p>
                    <p>He is simply a tech geek with great passion and enthusiasm for every possible programming
                        language, framework, and
                        technology, he is highly encouraged to move forward with his idea of bringing developers and
                        clients together.</p>
                    <p>His primary responsibility is to manage the team of developers and provide smooth workflow and
                        communication between
                        them as well as with clients.</p>
                    <span class="special-text">SAK lives in New Delhi,</span> India. Chess is his favorite game, and he
                    enjoys traveling a lot. He also
                    loves playing open-world console games.
                </div>
            </div>

        </div>
    </div> -->

  <!-- <div class="line-break">
        <img src="./../../../assets/images/line-break2.png">
    </div> -->
  <!-- <div class="our-team-head">
        <h2>Our <span class="title-special">Team !</span> </h2>
        <img src="./../../../assets/images/dvider.png" alt="">
    </div> -->
  <div class="row main">
    <div class="col-md-4">
      <div class="profile-card">
        <div class="img">
          <img src="./../../../assets/images/sayd-asad-kazemi.jpg" />
        </div>
        <div class="caption">
          <h3>Syed Asad Kazmi</h3>
          <p>President</p>
        </div>
      </div>
    </div>

    <div class="col-md-4">
      <div class="profile-card">
        <div class="img">
          <img src="./../../../assets/images/williams.png" />
        </div>
        <div class="caption">
          <h3>H.T. Williams</h3>
          <p>CEO</p>
        </div>
      </div>
    </div>

    <div class="col-md-4">
      <div class="profile-card">
        <div class="img">
          <img src="./../../../assets/images/ashish.jpg" />
        </div>
        <div class="caption">
          <h3>Ashish</h3>
          <p>COO</p>
        </div>
      </div>
    </div>

    <div class="col-md-4">
      <div class="profile-card">
        <div class="img">
          <img src="./../../../assets/images/bakar-haythar.JPG" />
        </div>
        <div class="caption">
          <h3>Bakar Haythar</h3>
          <p>CTO</p>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="profile-card">
        <div class="img">
          <img src="./../../../assets/images/yahya-hosainy.png" />
        </div>
        <div class="caption">
          <h3>Yahya Hosainy</h3>
          <p>Tech Lead</p>
        </div>
      </div>
    </div>
  </div>
  <ngx-scrolltop> ↑ </ngx-scrolltop>
</div>

<footer class="footer">
  <p>
    <small
      >@{{ currentYear }} DevA2Z. All rights reserved. Design by DevA2Z</small
    >
  </p>
</footer>
