<div class="row main-container">
  <div class="col-md-6 index-col">
    <div class="container">
      <div class="logo-div">
        <img src="./../../../assets/images/deva2z-light.png" alt="" />
      </div>
      <div class="img-box-container">
        <img src="./../assets/images/bg-index-page.png" alt="" />
      </div>
      <div class="title-box-container">
        <h1>
          We Execute Your Ideas From <span class="shutter-font">Start</span> to
          <span class="shutter-font">Finish</span>
        </h1>
        <p>
          The pioneer agency in development and market research providing
          strategic solutions with high progress ratio .
        </p>
      </div>
      <div class="contact-container">
        <div class="call-us">
          <p>
            <a
              style="text-decoration: none; color: black"
              href="tel:+1(920)530-5883"
              >CALL: +1 (920) 530-5883</a
            >
          </p>
        </div>
        <div class="social-contaienr">
          <div>
            <a href="https://www.facebook.com/DevA2Z-103971728462578">
              <fa-icon class="faIcon" [icon]="faFacebook"></fa-icon>
            </a>
          </div>
          <div>
            <a href="https://www.instagram.com/dev_a2z/">
              <fa-icon class="faIcon" [icon]="faInstagram"></fa-icon>
            </a>
          </div>
          <div>
            <a href="https://twitter.com/DevA2Z1">
              <fa-icon class="faIcon" [icon]="faTwitter"></fa-icon>
            </a>
          </div>
          <div>
            <a href="https://www.linkedin.com/company/dev-a2z">
              <fa-icon class="faIcon" [icon]="faLinkedin"></fa-icon>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-6">
    <app-navbar-grid></app-navbar-grid>
  </div>
</div>
