<a routerLink="/">
    <div class="side-nav bg-image-holder">
        <fa-icon [icon]="faTimes" class="close-icon"></fa-icon>
        <h2 class="head-title">About Us </h2>
    </div>
</a>
<div class="content-container">
    <div class="title-page">
        <h2>The Story Of <span class="title-special">DevA2Z</span> </h2>
        <img src="./../../../assets/images/dvider.png" alt="">
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="images-container">
                <div class='box'>
                    <div class='wave -one'></div>
                    <div class='wave -two'></div>
                    <div class='wave -three'></div>
                </div>
                <div class="images-grid">
                    <img src="../../../assets/images/business-growth-success.jpg" alt="">
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="about-section">
                <h3>Make Your <span class="underline--bacon">Business Grow </span> With the Best Resources</h3>
                <p>
                    DevA2Z is an initiative to bring talented Computer Science engineers and developers (covering almost
                    every aspect of
                    technology whether be it web applications, mobile applications, machine learning, or cloud
                    infrastructure
                    deployment)
                    and the ones <span class="underline--bacon"> who are looking for any kind of tech services</span> to
                    be provided for
                    themselves (whether be
                    it an
                    individual, a
                    startup or a settled company) on the same platform having no involvement of any mediators to
                    increase the level of
                    understanding between the customers and the service providers.
                </p>
                <p>
                    DevA2Z has the commitment with their clients to deliver top notch quality product with on time
                    deliverability . When
                    something is important enough, odds gets their way out.
                </p>
            </div>
        </div>
    </div>

    <div class="list-item-container">
        <div class="title-our-service">
            <h4>Our Services</h4>
            <h3>Why Choose Us? </h3>
        </div>
        <div class="row">
            <div class="col-sm-4">
                <div class="item-card">
                    <div class="icon-container">
                        <div class="circle-faicon-container">
                            <fa-icon class="faicon" [icon]="faCode"></fa-icon>
                        </div>
                    </div>
                    <h5>Web & App Designing</h5>
                    <p>
                        We are expert in designing Professional Website,
                        Responsive Design,Self Managed Web Pages,High Speed SSD Hosting,
                        Domain Purchasing,Deployment,Multilingual Transalation Support,
                        Chat Bot,API Integrations,Mobile Applications(Android & iOS),
                        Ionic Framework Development, App Optimization and many more.
                    </p>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="item-card">
                    <div class="icon-container">
                        <div class="circle-faicon-container">
                            <fa-icon class="faicon" [icon]="faBrain"></fa-icon>
                        </div>
                    </div>
                    <h5>Digital Marketing</h5>
                    <p>
                        We have the prominent Digital Marketers team who have expertise in leveraging your business
                        with Email Marketing, Social
                        Media Marketing, SEO Services, Video Marketing, Content Marketing, Youtube SEO, Google Ads
                        Analytics, Online Reputation
                        Management and many more
                    </p>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="item-card">
                    <div class="icon-container">
                        <div class="circle-faicon-container">
                            <fa-icon class="faicon" [icon]="faLaptopCode"></fa-icon>
                        </div>
                    </div>
                    <h5>Development</h5>
                    <p>
                        We have a special Development Team who are solely responsible for Software Developments,
                        Machine Learning & Aritifical
                        Intelligence Algorithm, Deep Learning, Neural Networks, Programming Language Experts,
                        Autonomous Tasks Building,
                        Scripting, R&D, and many more.
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="talent-container">
        <div class="row">
            <div class="col-sm-5">
                <div class="image-wrraper">
                    <img src="./../../../assets/images/talent.jpg" alt="">
                </div>
            </div>
            <div class="col-sm-7">
                <div class="talent-text-box">
                    <h4>Our Talent</h4>
                    <h3>Talent Can Come From Anywhere</h3>
                    <p>
                        We are eager to find the best unicorns on the market and hire superstars, but DevA2Z is the
                        company who don’t believe in
                        titles and don’t have managers with white gloves who cannot switch between different roles,
                        getting their hands dirty
                        when required. Here people personal interests and words count
                    </p>
                    <div class="progress-box-model">
                        <div class="prog-box">
                            <p>Mobile Application</p>
                            <div class="progress">
                                <div class="progress-bar progress-bar-striped " role="progressbar" style="width: 95%"
                                    aria-valuenow="95" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                        </div>
                        <div class="prog-box">
                            <p>R & D</p>
                            <div class="progress">
                                <div class="progress-bar progress-bar-striped " role="progressbar" style="width: 85%"
                                    aria-valuenow="85" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                        </div>
                        <div class="prog-box">
                            <p>Web Development</p>
                            <div class="progress">
                                <div class="progress-bar progress-bar-striped " role="progressbar" style="width: 94%"
                                    aria-valuenow="94" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                        </div>
                        <div class="prog-box">
                            <p>Machine Learning</p>
                            <div class="progress">
                                <div class="progress-bar progress-bar-striped " role="progressbar" style="width: 89%"
                                    aria-valuenow="89" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                        </div>
                        <div class="prog-box">
                            <p>Market</p>
                            <div class="progress">
                                <div class="progress-bar progress-bar-striped " role="progressbar" style="width: 82%"
                                    aria-valuenow="82" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <ngx-scrolltop>
        ↑
    </ngx-scrolltop>
</div>

<footer class="footer">
    <p><small>@{{currentYear}} DevA2Z. All rights reserved. Design by DevA2Z</small></p>
</footer>