$body-color: #4b4b4b;
$box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
*{
  font-family: 'lato-bold';
}
.side-nav {
  width: 25%;
  height: 100vh;
  position: fixed;
  top: 0px;
  right: 0px;
  overflow: hidden;
}
.bg-image-holder {
  background: linear-gradient(to top, #351e56e0, #351e56fb),
    url("./../../../assets/images/faq.JPG");
  background-size: cover;
  background-position: center ;
  background-repeat: no-repeat;
}
.bg-image-holder:hover {
  background: linear-gradient(to top, #351e56c4, #351e56fb),
    url("./../../../assets/images/faq.JPG");
  background-size: cover;
  background-position: center ;
  background-repeat: no-repeat;
}
.close-icon {
  color: white;
  font-size: 40px;
  margin-top: 20px;
  margin-right: 40px;
  float: right;
  transition: 0.3s;
  opacity: 0.6;
}
.side-nav:hover .close-icon {
  transform: scale(1.2);
  transition: 0.3s;
  opacity: 1;
}
.side-nav:hover .bg-image-holder {
  filter: blur(8px);
  -webkit-filter: blur(8px);
  transition: 0.15s;
}
.head-title {
  writing-mode: vertical-rl;
  text-orientation: mixed;
  margin-top: 75%;
  margin-left: 40px;
  font-family: shutter;
  color: white;
  font-weight: bold;
  font-size: 45px;
  -webkit-text-stroke: 1px black;
}
.content-container {
  width: 75% !important;
  position: relative;
  padding: 25px;
  background-color: #ffffff;
  background-image: linear-gradient(315deg, #ffffff 0%, #d7e1ec 74%);
  .title-page img {
    width: 190px;
  }
}
.content-container .title-page {
  text-align: center;
}
.content-container .title-page h2 {
  padding: 30px 0 8px;
  position: relative;
  font-family: "lato-bold", "Arial Narrow", Arial, sans-serif;
}
.content-container .title-page h2 .title-special {
  font-family: "lato-bold", "Arial Narrow", Arial, sans-serif;
  color: #351e56fb;
}

.question-container
{
  width: 100%;
  height: fit-content;

  .text-box{
    width: 100%;
    height: fit-content;
    font-family: 'lato-bold';
    span{
      color: #351e56fb;
    }
    p{
      text-align: justify;
    }
  }
  .img-box{
    width: 100%;
    height: fit-content;
    img{
      width: 100%;
      height: fit-content;
    }
  }
}
.footer {
  width: 100%;
  bottom: 0;
  left: 0;
  padding: 20px 15px;
  background: linear-gradient(to top, #351e56c4, #351e56fb),
    url("./../../../assets/images/faq.JPG");
  background-size: cover;
  background-position: bottom;
  background-repeat: no-repeat;
}
.footer p {
  color: white;
}
@media only screen and (max-width: 992px) {
  .side-nav {
    width: 100%;
    height: 55px;
    position: relative;
  }
  .content-container {
    width: 100% !important;
  }
  .close-icon {
   color: white;
  font-size: 40px;
  margin-top: 0px;
  margin-right: 40px;
  float: right;
  transition: 0.3s;
  opacity: 0.9;
  }
}
@media only screen and (min-width: 992px) {
}
