<a routerLink="/">
  <div class="side-nav bg-image-holder">
    <fa-icon [icon]="faTimes" class="close-icon"></fa-icon>
    <h2 class="head-title">FANDQ</h2>
  </div>
</a>
<div class="content-container">
  <div class="title-page">
    <h2>Frequently Asked <span class="title-special">Questions !</span></h2>
    <img src="./../../../assets/images/dvider.png" alt="" />
  </div>
  <div class="question-container">
    <div class="row">
      <div class="col-md-8">
        <div class="text-box">
          <h2>Why choose <span>DevA2Z</span> ?</h2>
          <h4>👉 Powerful Solution for your Startup Business</h4>
          <p>
            DevA2Z is a tech consultancy startup having its main focus on
            providing the best products to clients as well as the best job
            opportunities to developers with a pay scale that is comparatively
            way higher than that provided by most of the reputed MNCs nowadays.
            We are ready to redefine the consultancy by giving the top-notch
            quality work delivered before the expected deadline.
          </p>
          <h5>
            "The only consultancy that satisfies both the employees and the
            clients in the best possible way."
          </h5>
        </div>
      </div>
      <div class="col-md-4">
        <div class="img-box">
          <img
            src="./../../../assets/images/deva2z-light.png"
            alt="deva2z image "
          />
        </div>
      </div>
    </div>
    <div class="row mt-5">
      <div class="col-md-8">
        <div class="text-box">
          <h2>What are our <span>Solutions</span> ? 😉</h2>
          <h4>👉 Passion, Dedication and Hard Work</h4>
          <span> <b>Web Development:</b></span>
          <p>
            We provide the best possible full-stack web development of the
            websites from scratch as per your desired technology stack, or if
            you are confused in choosing one, then for that also our experts can
            give you the best guidance.
          </p>
          <span><b>Mobile Development:</b> </span>
          <p>
            We offer the best mobile application development for your dream
            mobile apps at the cheapest rates and that too without compromising
            with the best quality.
          </p>
          <span
            ><span><b>Cloud Technology:</b></span>
          </span>
          <p>
            Our cloud experts are ready to migrate your existing on-premises
            server to any on-cloud server with ease, or if you want any cloud
            services from scratch then also we are glad to provide you the same.
          </p>
        </div>
      </div>
      <div class="col-md-4">
        <div class="img-box">
          <img src="./../../../assets/images/light.png" alt="light image " />
        </div>
      </div>
    </div>
  </div>
  <ngx-scrolltop> ↑ </ngx-scrolltop>
</div>
<footer class="footer">
  <p>
    <small
      >@{{ currentYear }} DevA2Z. All rights reserved. Design by DevA2Z</small
    >
  </p>
</footer>
